# Eclipse
.classpath
.project
.settings/
**/.classpath
**/.project
**/.factorypath
**/.settings/org.eclipse.jdt.core.prefs

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store
/**/*.versionsBackup

# Maven
log/
target/

# Infinitest
/**/infinitest.args
